<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的部落格</title>
</head>
<body>
    <h1>文章列表</h1>
	<p><a href="{% url 'post_new' %}">➕ 新增文章</a></p>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' pk=post.pk %}">
                    <strong>{{ post.title }}</strong>
                </a><br>
                
                更新於：{{ post.updated_at|date:"Y-m-d H:i" }}<br>
                {{ post.content|truncatewords:20 }}
            </li>
        {% empty %}
            <li>目前沒有文章。</li>
        {% endfor %}
    </ul>
</body>
</html>
